.footerContainer {
    display: flex;
}


.footerText{
    display: flex;
    margin-left: 1.2rem;
    gap: 3px;
}

.footerKey {
    color: grey;

}

.footerValue {
    color: black;
    margin-left: 1 rem;
}